h3 {
    display: block;
    width: 80%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


button{
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(9, 91, 91);
    font-size: 25px;
    padding: 15px 30px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, white, #c3b4f7);
}

button:hover {
    cursor: url('heart15.png') 10 10, auto;
}

.fixed_heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: white;
    background-color: teal;
    z-index: 1000;
    margin-top: 0;
    padding: 25px;
    font-weight: bold;
    border-radius: none;
}

#letter-container {
    margin-top: 100px;
}

.password-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ogb {
    padding: 20px 25px;
    margin-top: 20px;
    background-color: rgb(6, 67, 67);
    border-radius: 10px;
    font-size: 22px;    
}

@media (max-width: 768px) {
    button {
        padding: 12px 25px;
        font-size: 18px;
    }
}